body {
  min-width: 100vw;
  min-height: 100vh;
  // background-color: #36062b;
  // background-color: rgba(54,6,43,1);
  background-color: hsla(134,45,81,1);
  background-color: hsla(240,10,50,1);
  background-image: /* linear-gradient(to top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 50%),*/
    // linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 50%),
    linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 75%),
    repeating-linear-gradient(135deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.05) 5%, rgba(0,0,0,0.05) 5%, rgba(0,0,0,0) 10%);
  box-shadow: 0 0 300px rgba(0,0,0,0.75) inset;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
