doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title RAVr

    link(rel="stylesheet" media="all" href="assets/css/styles.css")

    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
  body.running
    .mainmenu
      h1.title RAVr
      a.play(href="javascript:setState('running')") Play
      a.about About
    .pausemenu
      h2 Game paused
      a.resume Resume
    .hud.inactive
      .engineOutput
        .left
          .track
            .bar
          .labels
            .safe 安定
            .danger 危険
          .readout 0
        .right
          .track
            .bar
          .labels
            .safe 安定
            .danger 危険
          .readout 0
      .primaryFuel
        .track
          .bar
        .labels
        .readout
      .secondaryFuel
        .track
          .bar
        .labels
        .readout
      .hullIntegrity
        .track
          .bar
        .labels
        .readout
      .cargoHold
        .track
          .bar
        .labels
        .readout
      .shipStatusFrame
        .shipStatus
          .ship
          .altitude
          .rotation
          .speedVertical
            .track
            .bar
          .speedHorizontal
            .track
            .bar
      

    script(src="assets/js/game.js")
