doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title RAVr

    link(rel="stylesheet" media="all" href="assets/css/styles.css")

    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
  body.running
    .mainmenu
      h1.title RAVr
      a.play(href="javascript:setState('running')") Play
      a.about About
    .pausemenu
      h2 Game paused
      a Resume

    script(src="assets/js/game.js")
