html {
  color: #222;
  font-weight: 200;
  font-size: 1em;
  font-family: "Noto Sans Japanese","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family: 'Kanit',sans-serif;
  line-height: 1.5;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(84,6,43,1);
  /*background-color: rgba(154,6,43,1);*/
  /*background-color: rgba(115,115,140,1);*/
  background-image: /* linear-gradient(to top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 50%),*/
    /* linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 50%), */
    linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 75%),
    repeating-linear-gradient(135deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.05) 5%, rgba(0,0,0,0.05) 5%, rgba(0,0,0,0) 10%);
  box-shadow: 0 0 25vmin rgba(0,0,0,0.75) inset;
  border-bottom: 50px solid rgba(10,0,10,1);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  .layer1 {
    z-index: 100;
  }
  .layer2 {
    z-index: 200;
  }
  .layer2 {
    z-index: 300;
  }
}

.hud {
  $transitionTime: 2s;

  z-index: 400;
  transition: 0.25s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  max-width: 1000px;
  border-top: 10px solid white;
  &:before, &:after {
    position: absolute;
    top: -10px;
    display: block;
    content: "";
    border-top: 10px solid white;;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  &:before {
    left: -10px;
  }
  &:after {
    right: -10px;
  }
  &.inactive {
    top: -10px;
    --interfaceBackground1: #000;
    --interfaceColor1: #333;
  }
  &.active {
    top: 0;
    --interfaceBackground1: #061405;
    --interfaceBackground1: #060514;
    --interfaceColor1: #85DC8E;
    --interfaceColor1: #858EDC;
  }
  .engineOutput {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    --engineOutput: 0;
    --engineOutputColor: #0c9;

    .track {
      position: absolute;
      top: 0;
      width: calc(45vw - 85px);
      height: 20px;
      background: var(--interfaceBackground1);
      border-bottom: 1px solid white;
    }
    .right .track {
      left: calc(50% + 85px);
      background: linear-gradient(to right, var(--interfaceBackground1) 50%, rgba(0,0,0,0) 100%);
    }
    .left .track {
      right: calc(50% + 85px);
      background: linear-gradient(to left, var(--interfaceBackground1) 50%, rgba(0,0,0,0) 100%);
    }
    .bar {
      position: absolute;
      top: 3px;
      height: 13px;
      width: calc(var(--engineOutput) * 0.5%);
    }
    .right .bar {
      left: 0;
      /*background: linear-gradient(to right, var(--engineOutputColor) 0%, white 100%);*/
      background: repeating-linear-gradient(to right, transparent 0%, transparent 5px, #000 5px, #000 8px),linear-gradient(to right, var(--interfaceBackground1) 0%, var(--engineOutputColor) 100%);
      border-right: 2px solid #fff;
    }
    .left .bar {
      right: 0;
      /*background: linear-gradient(to left, var(--engineOutputColor) 0%, white 100%);*/
      background: repeating-linear-gradient(to left, transparent 0%, transparent 5px, #000 5px, #000 8px),linear-gradient(to left, var(--interfaceBackground1) 0%, var(--engineOutputColor) 100%);
      border-left: 2px solid #fff;
    }
    .labels div {
      position: absolute;
      top: 22px;
      color: #ccc;
      font-size: 8px;
      height: 30px;
      letter-spacing: 2px;
      writing-mode: vertical-lr;
      text-orientation: upright;
      transform: translateX(-50%);
    }
    .right .labels .safe {
      left: calc(50% + 85px + 24.75vw - 47px);
    }
    .right .labels .danger {
      left: calc(50% + 85px + 39.375vw - 74.375px);
    }
    .left .labels .safe {
      right: calc(50% + 85px + 24.75vw - 47px);
    }
    .left .labels .danger {
      right: calc(50% + 85px + 39.375vw - 74.375px);
    }
    .readout {
      position: absolute;
      top: 10px;
      transform: translateY(-50%);
      color: #fff;
      font-size: 10px;
    }
    .right .readout {
      text-align: right;
      left: calc(50% + 105px);
    }
    .left .readout {
      text-align: left;
      right: calc(50% + 105px);
    }

  }
  .shipStatusFrame {
    z-index: 5;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 208px;
    height: 87px;
    background: white;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  }
  .shipStatus {
    --rotation: 0;
    --altitude: 0;
    --speedHorizontalPositive: 0;
    --speedHorizontalNegative: 0;
    --speedVerticalPositive: 0;
    --speedVerticalNegative: 0;
    --accelerationHorizontal: 50;
    --accelerationVertical: 50;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 85px;
    background: var(--interfaceBackground1);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
    transition: $transitionTime;
    .rotation {
      position: absolute;
      top: 10px;
      left: 50%;
      width: 60px;
      height: 60px;
      transform: translateX(-50%);
      .meter {
        position: relative;
        width: 60px;
        height: 60px;
        transform: rotate(calc(var(--rotation) * 1deg));
        border: 1px solid var(--interfaceColor1);
        border-radius: 50%;
        transition: $transitionTime border-color;
        &:after {
          display: block;
          transition: $transitionTime border-color;
          content: "";
          width: 0;
          height: 0;
          border-bottom: 5px solid var(--interfaceColor1);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          top: -5px;
          left: 50%;
          transform: translateX(-50%);
        }
      } /* .meter */
      .readout {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8px;
        color: var(--interfaceColor1);
        transition: $transitionTime;
        &:after {
          content: "°";
        }
      } /* .readout */
    } /* .rotation */
    .speedVertical {
      &.critical {
        --interfaceColor1: #d40;
        .track, .track:before, .track:after, .track .barPositive, .track .barNegative {
          transition: 0s;
        }
      }
      .track {
        position: absolute;
        right: 27%;
        top: 10px;
        height: 60px;
        width: 5px;
        border: 1px solid var(--interfaceColor1);
        transition: $transitionTime;
        &:before {
          display: block;
          content: "";
          height: 0px;
          width: 3px;
          position: absolute;
          border-top: 1px solid var(--interfaceColor1);
          transition: $transitionTime;
          top: 50%;
          left: 0;
        }
        &:after {
          display: block;
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          bottom: calc(var(--accelerationVertical) * 1% - 2px);
          right: -4px;
          border-right: 4px solid var(--interfaceColor1);
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          transition: $transitionTime border-color;
        }
        .barPositive, .barNegative {
          position: absolute;
          left: 0;
          width: 3px;
          display: block;
          background: var(--interfaceColor1);
          transition: $transitionTime background-color;
        }
        .barPositive {
          bottom: 50%;
          height: calc(var(--speedVerticalPositive) * 1%);
        }
        .barNegative {
          top: 50%;
          height: calc(var(--speedVerticalNegative) * 1%);
        }
      }
    }
    .speedHorizontal {
      &.critical {
        --interfaceColor1: #d40;
        .track, .track:before, .track:after, .track .barPositive, .track .barNegative {
          transition: 0s;
        }
      }
      .track {
        position: absolute;
        left: 50%;
        bottom: 5px;
        width: 60px;
        height: 5px;
        transform: translateX(-50%);
        border: 1px solid var(--interfaceColor1);
        transition: $transitionTime;
        &:before {
          display: block;
          content: "";
          height: 3px;
          width: 0px;
          position: absolute;
          border-left: 1px solid var(--interfaceColor1);
          transition: $transitionTime;
          top: 0;
          left: 50%;
        }
        &:after {
          display: block;
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          left: calc(var(--accelerationHorizontal) * 1% - 2px);
          top: -4px;
          border-top: 4px solid var(--interfaceColor1);
          border-left: 2px solid transparent;
          border-right: 2px solid transparent;
          transition: $transitionTime border-color;
        }
        .barPositive, .barNegative {
          position: absolute;
          top: 0;
          height: 100%;
          display: block;
          background: var(--interfaceColor1);
          transition: $transitionTime background-color;
        }
        .barPositive {
          left: 50%;
          width: calc(var(--speedHorizontalPositive) * 1%);
        }
        .barNegative {
          right: 50%;
          width: calc(var(--speedHorizontalNegative) * 1%);
        }
      }
    }
    .altitude {
      &.critical {
        --interfaceColor1: #f74;
        transition: 0s;
        &:before, &:after, .tick {
          transition: 0s;
        }
      }
      position: absolute;
      left: 27%;
      top: 10px;
      height: 60px;
      width: 5px;
      border: 1px solid var(--interfaceColor1);
      transition: $transitionTime;
      border-left: 0;
      &:before {
        display: block;
        content: "";
        height: 0px;
        width: 4px;
        position: absolute;
        border-top: 1px solid var(--interfaceColor1);
        transition: $transitionTime;
        top: 50%;
        right: 0;
      }
      &:after {
        display: block;
        content: "";
        height: 0;
        width: 0;
        border-right: 5px solid var(--interfaceColor1);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        position: absolute;
        right: -5px;
        bottom: calc(var(--altitude) * 1% - 3px);
        transition: $transitionTime border-color;
      }
      .tick {
        display: block;
        content: "";
        height: 0px;
        width: 2px;
        position: absolute;
        border-top: 1px solid var(--interfaceColor1);
        transition: $transitionTime;
        right: 0;
        &.tick1 { bottom: 10%; }
        &.tick2 { bottom: 20%; }
        &.tick3 { bottom: 30%; }
        &.tick4 { bottom: 40%; }
        &.tick6 { bottom: 60%; }
        &.tick7 { bottom: 70%; }
        &.tick8 { bottom: 80%; }
        &.tick9 { bottom: 90%; }
      }
    }
  } /* .shipStatus */
}

.mainmenu {
  position: absolute;
  top: -100vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  transition: 250ms;
  .titlescreen & {
    top: 0;
  }

  h1 {
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 2rem;
    font-weight: 100;
    font-size: 7rem;
    /*font-family: 'Kanit',sans-serif;*/
  }

  .play {
    display: block;
    margin: 0;
    padding: 0.25rem 1rem;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    /*font-family: 'Kanit',sans-serif;*/
  }

  .about {
    position: absolute;
    top: 1rem; right: 1rem;
    color: white;
  }
}

.pausemenu {
  position: absolute;
  top: -100vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  transition: 250ms;
  .paused & {
    top: 0;
  }

  h2 {
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 100;
    font-size: 4rem;
    font-family: 'Kanit',sans-serif;
  }
}
